/* add transition to make tiles look pressed down */
:root {
    background-color: #121212;
    color: #efefef;
    font-family: monospace;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
    padding: 40px 0 40px;
}

.board-container {
    display: grid;
    padding: 80px 0 40px;
    grid-template-rows: repeat(3, max(80px, 8vw));
    grid-template-columns: repeat(3, max(80px, 8vw));
    gap: 20px;
    justify-content: center;
    font-size: 3.6rem;
}

.board-container > div {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px rgba(255, 255, 255, 0.5);
    color: #000;
}

.board-container > div:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.game-info {
    font-size: min(5vw, 3.2rem);
    display: flex;
    justify-content: center;
    gap: 10vw;
    padding: 50px;
}

.game-info > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-info span:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000;
    padding: 0 20px;
}

.round-options {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.restart-round-button {
    width: 250px;
    height: 60px;
    font-size: 2.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px rgba(255, 255, 255, 0.5);
}

.quit-game-button {
    width: 200px;
    height: 60px;
    font-size: 2.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px rgba(255, 255, 255, 0.5);
}
.restart-round-button:hover,
.quit-game-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.welcome-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
}

.welcome-overlay > div > div {
    font-size: 2.4rem;
}

.welcome-overlay input {
    height: 40px;
    width: 300px;
    padding: 2px 5px;
    margin: 5px 0;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px rgba(255, 255, 255, 0.5);
}

.welcome-overlay button {
    width: 100%;
    margin: 40px 0;
    height: 60px;
    font-size: 2.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px rgba(255, 255, 255, 0.5);
}

.welcome-overlay button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.result-dialog {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
}

.result-dialog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(33, 33, 33);
}

.result-dialog-container > div {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.result-dialog button {
    width: 20vw;
    margin: 40px 0;
    height: 60px;
    font-size: 2.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 8px 8px rgba(255, 255, 255, 0.5);
}

.result-dialog button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
